/*list的页面*/

.left_list {
    float: left;
    padding-left: 36px;
    width: 163px;
}

.left_list a {
    padding: 5px 30px;

    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #1e80b7;
    width: 145px;
    color: #1e80b7;
}

.left_list li {
    margin-top:20px;
}

.middle_list {
    margin-top: 15px;
    margin-right: 15px;
    float: left;

    width: 485px;
    height: 473px;
    border: 1px solid #e4e4e4;
}

.middle_list .same a {
    width:275px;
}

.middle_list>div {
    height: 10px;
    background-color: #1e7eb5;
}

.middle_list>ul {
    list-style: none;
}

.middle_list .date {
    position: relative;
    right: -22px;
    top: 0px;

    font-size: 14px;
    border-bottom: none;
}

.middle_list a,.middle_list span,.middle_list li {
    color: #1e80b7;
}

.middle_footer {
    text-align: center;
    background-color: white!important;
}

.middle_footer>ul {
    overflow: hidden;
    display: inline-block;
    *display: inline; /*只有ie 6 7 识别*/
    zoom:1; /*触发ie 6 7 下的haslayout*/
}

.middle_footer li {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.right_list {
    margin-top: 15px;
    float: left;

    width: 225px;
    border: 1px solid #e4e4e4;
}