/*统一样式*/

* {
    padding: 0;
    margin:0;
}

body {    
    margin: 0 auto;

    width: 960px;
    font-family: "黑体";
    background-image :url(../images/background.png);
}

ul {
    list-style: none;
}

a:link,a:visited {
    text-decoration: none;
    color: black;
}

/*header的样式*/
#header {
    position: relative;
    background-position: 4px 50px;

    height: 358px;
    background-repeat: no-repeat;
    background-image: url(../images/banner.png);
}

.undertake {
    padding: 5px 10px 10px 14px;
    position: absolute;
    left: 520px;
    top: 30px;

    width: 425px;
    border-left: solid 1px black;
}

.undertake div {
    padding-top :5px;

    color: #003756;
    font-size: 14px;
}

/*导航栏的style*/
#nav {
    margin-top: 10px;
    padding-left: 30px;

    background-image: url(../images/nav.png);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 3px #aaaaaa;
}

#nav li {
    padding: 10px 0;
    float: left;

    font-size: 19px;
} 

#nav a {
    padding: 0 25px;

    border-right: 2px solid white;
    color: white;
}

/*最右边的边*/
.special {
    border: none!important;
}

/*主体的style*/
#content {
    margin-top: 10px;
    padding-bottom: 20px;

    overflow: hidden;
    box-shadow: 0px 0px 10px gray;
    border-radius: 13px;
    
}

/*相册的style*/
#display {
    overflow: hidden;
}

.box {
    position: relative;
    margin: 10px;
    float: left;

    width: 315px;
    height: 212px;
    overflow: hidden;
}

.news {
    position: absolute;

    width: 315px;
    height: 212px;
}

.news>li {
    height: 212px;
}

.news img{
    width: 315px;
    height: 212px;
}

/*显示哪张照片的页数*/
.count {
    position: absolute;
    right: 0;
    bottom: 8px;
}
.count li{
    margin-right: 5px;
    float: left;

    cursor:pointer;
    width: 17px;
    color: white;
    text-align: center;
    background-image: url(../images/block.png);
}

.count li:hover  {
    border: 1px solid red;
}

.current {
    background-color: #c1362e;
} 
/*相册右边的信息栏*/
.message {
    float: left;
    width:440px;
    margin:20px 10px 0 0;
}

.pre {
    position: relative;  
    padding-left: 15px;  
}

.pre .pre_inone {
    color: white;
    background-color: #1e80b7;
}


.right {
    position: absolute;
    top: -8px;
    right: -13px;

    color: #1E7FB3!important;
    border: none!important;
}

.message .pre >a {
    padding: 5px 20px;

    font-size: 17px;
    border-radius: 20px;
    border: 1px solid  #1e80b7;
}

.message_in {
    display: none;
}

.message a {
    padding: 5px;
    font-size: 13px;
}

.message .same  {
    margin-bottom: -1px;
}

.message .same li {
    border-bottom: 1px solid gray;
}

.relevance {
    float: left;
    margin: 20px 10px 0 0;

    width: 154px;
}



/*列表通用的样式*/

.same {
    margin-top: 10px;
    margin-left: 10px;

    list-style: disc;
}

.same li {
    padding-bottom: 5px;
    margin-top: 5px;

    list-style-position: inside;
    position: relative;
    text-decoration: none;
}

.date {
    position: absolute;
    right: 5px;

    color: black;
}

.red {
    color: red!important;
}

/*小内容里面的标题*/
.title {
    position: relative;

    background-color: #e4e4e4;
}

.title>span {

    display: inline-block;
    background-color: #1E7FB3;
    width: 8px;
    height: 20px;
}

.title>p {
    margin-left: 5px;
    vertical-align: 4px;

    display: inline;
    font-size: 14px;
    color: #1E7FB3;
}

.title>a {
    vertical-align: 6px;
    position: absolute;
    margin-right: 5px;
    right: 0;

    color: #1E7FB3;
}

/*媒体展示*/
#medium {
    float: left;
    margin-left:10px;
    margin-top: 15px;

    width: 450px;
    border: 1px solid #e4e4e4;
}

/*比赛*/
#contest {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    width: 460px;
    border: 1px solid #e4e4e4;
}

/*项目*/
#project {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    width: 588px;
    height: 388px;
    border: 1px solid #e4e4e4;
}

#project >ul {
    padding-left: 10px;
    padding-top: 32px;
}

#project >ul li {
    float: left;
    margin-right: 24px;
    margin-bottom: 54px;
    position: relative;
    overflow: hidden;

}

#project img {
    width: 120px;
}

.introduce {
    position: absolute;
    display: none;
    background-image:url(../images/pic.png);
    width: 120px;
    height: 120px;
    top: 0px;
    padding: 30px 5px;

}
/*视频*/
#video {
    float: right;
    width: 314px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid #e4e4e4;
}

/*报刊*/
#jornal {
    float: right;
    width: 314px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid #e4e4e4;
}

#jornal img {
    width: 250px;
    margin: 15px 34px;
}

/*页脚*/
#footer {
    text-align: center;
    margin-top:20px;
    padding-bottom: 100px;
}

.link {
    display: inline-block;
    *display: inline; /*只有ie 6 7 识别*/
    zoom:1; /*触发ie 6 7 下的haslayout*/
    overflow: hidden; 
}

.link >li {
    float: left;
    margin-right: -1px; /*把最右边的border去掉，父元素使用hidden，负边距之美哈哈*/
}

.link a {
    padding-left: 10px;
    padding-right: 10px;
    border-right:1px solid gray;
}

/*news页面的css*/
.position {
    margin-left: 40px;
    padding: 10px 0;
}

.position a, .position span {
    margin-right: 0px;
}

.news_images img {
    margin: 10px 5px 5px 5px;
    width: 150px;
    float: left;
}

.news_images p {
    padding:10px 0 50px 0;

}

.left_news {
    overflow: hidden;
    width: 687px;
    float: left;
    padding-left: 35px;
}

.left_news>div{
    float: left;
    width: 330px;
    margin-left:10px;
}

.right_news {
    width: 225px;
    float: right;
    margin-right: 10px;
}

.paper {
    margin:25px 20px;
}

.paper>img {
    width: 150px;
    padding-left: 10px;
}

.left_special {
    float: left;
    padding-left: 36px;
    width: 180px;
}

.left_special a {
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #1e80b7;
    width: 145px;
    color: #1e80b7;
}

.left_special li {
    margin-top:20px;
}

.middle_special {
    margin-top: 15px;
    margin-right: 15px;
    width: 485px;
    height: 473px;
    float: left;
    border: 1px solid #e4e4e4;
}

.middle_special>div {
    height: 10px;
    background-color: #1e7eb5;
}

.middle_special>a {
    margin-left: 20px;
}

.middle_special img {
    width: 210px;
    border: none;
}

.right_special {
    margin-top: 15px;
    width: 225px;
    float: left;
    border: 1px solid #e4e4e4;
}


/*list的页面*/

.middle_list {
    margin-top: 15px;
    margin-right: 15px;
    width: 485px;
    height: 473px;
    float: left;
    border: 1px solid #e4e4e4;
}

.middle_list>div {
    height: 10px;
    background-color: #1e7eb5;
}

.middle_list>ul {
    list-style: none;
}

.middle_list a,.middle_list span,.middle_list li {
    color: #1e80b7;
}

.middle_footer {
    text-align: center;
    background-color: white!important;
}

.middle_footer>ul {
    overflow: hidden;
    display: inline-block;
}

.middle_footer li {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

/*project页面的html*/

.pro_h {
    padding: 5px 0;
    margin:0 20px;

    color: white;
    background-color: #1e80b7;
    text-align:center;
}

.pro {
    margin: 20px;
    float: left;

    overflow: hidden;
    width: 435px;
}

.pro img {
    float:left;
}

.pro p {
    margin-top:10px;
}

.pro p,.pro h4 {
    margin-left: 135px;
}